src/main/mule/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">


	<flow name="banking_aisp_experience_api-main">
		<http:listener config-ref="banking_aisp_experience_api-httpListenerConfig"
			path="/api/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="banking_aisp_experience_api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="banking_aisp_experience_api-console">
		<http:listener config-ref="banking_aisp_experience_api-httpListenerConfig"
			path="/console/*">
			<http:response statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="banking_aisp_experience_api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="get:\balance:banking_aisp_experience_api-config">
		<choice doc:name="Need to mock claims?" doc:id="3f3e46d9-d283-4f99-9354-cf2260cb475e">
			<when expression="#[vars.claims == null]">
				<ee:transform doc:name="Mocking claims"
					doc:id="afd3f267-18df-4a22-991c-b1c26d06681b">
					<ee:message>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="claims"><![CDATA[%dw 2.0
output application/java
---
{
	ssn: p('claim.ssn')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger"
					doc:id="2235012d-e975-4284-a810-dae0a5a475ad" message="Claims were mocked" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="e74aff5b-ba84-4202-9322-4f53a82ed170" message="Claims are set" />
			</otherwise>
		</choice>
		<flow-ref doc:name="Call getBalanceFlow" doc:id="97732fc4-39c6-45d1-8740-6eb1a30db5a8"
			name="getBalanceFlow" />
	</flow>
	<flow name="get:\info:banking_aisp_experience_api-config">
		<choice doc:name="Need to mock claims?" doc:id="eddf8886-a3ff-4046-a2e4-298c1f0323a8">
			<when expression="#[vars.claims == null]">
				<ee:transform doc:name="Mocking claims"
					doc:id="b1c22dc4-ef52-4f85-8c93-40305f5fc947">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="claims"><![CDATA[%dw 2.0
output application/java
---
{
	ssn: p('claim.ssn')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger"
					doc:id="a7732253-60fa-4a5f-815b-8d47646a5f00" message="Claims were mocked" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="e19a82e1-0d45-4dce-b07d-514210f533d1" message="Claims are set" />
			</otherwise>
		</choice>
		<flow-ref doc:name="Call getInfoFlow" doc:id="e173198a-601e-49d8-b0f6-29cfdda591a4"
			name="getInfoFlow" />
	</flow>
	<flow name="get:\transactions:banking_aisp_experience_api-config">
		<choice doc:name="Need to mock claims?" doc:id="7fd9c390-1550-4870-897b-26a99f06b63b">
			<when expression="#[vars.claims == null]">
				<ee:transform doc:name="Mocking claims"
					doc:id="20cf0691-b081-4747-bf96-8e5222dd127b">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="claims"><![CDATA[%dw 2.0
output application/java
---
{
	ssn: p('claim.ssn')
}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<logger level="INFO" doc:name="Logger"
					doc:id="d1e975d7-f5f0-49c9-b5ca-7ec94f55d204" message="Claims were mocked" />
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="ca245ebd-391f-4fec-b211-c428ca613d9d" message="Claims are set" />
			</otherwise>
		</choice>
		<flow-ref doc:name="Call getTransactionsFlow" doc:id="5ab9642d-b26f-4ebb-88aa-5048b14764ec"
			name="getTransactionsFlow" />
	</flow>
</mule>
